<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Alchemy" version="2.2.1" targetFramework="net40-Client" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net40-Client" />
  <package id="Fleck" version="0.9.6.19" targetFramework="net40-Client" />
  <package id="Newtonsoft.Json" version="5.0.4" targetFramework="net40-Client" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net40-Client" />
  <package id="NuGet.Core" version="2.2.0" targetFramework="net40-Client" />
</packages>